[Desktop Entry]
Name=Skipstone
Comment=SkipStone is a simple Gtk+ web browser that utilizes Mozilla's gecko engine
Comment[pl]=Przeglądarka oparta o Gtk+, korzystająca z silnika Mozilli (gecko)
Icon=skipstone-desktop.png
Exec=skipstone
Terminal=0
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
