[Desktop Entry]
Name=Skipstone
Comment=SkipStone is a simple Gtk+ web browser that utilizes Mozilla's gecko engine
Comment[pl]=Przeglądarka oparta o Gtk+, korzystająca z silnika Mozilli (gecko)
Icon=skipstone-desktop
Exec=skipstone
Terminal=false
Type=Application
Categories=GTK;Network;WebBrowser;
# vi: encoding=utf-8
